.userList {
  width: 100%; 
  max-width: 1200px;
  margin: 0 auto; 
  padding: 0 1rem; 
  flex-wrap: wrap; 
  justify-content: center; 
  box-sizing: border-box; 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;


  
@media (max-width: 942px) and (min-width: 786px) {
  grid-template-columns: repeat(2, 1fr); 
}


  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  @media (max-width: 777px) {
    grid-template-columns: 1fr;
  }
}
